<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Calculator in Javascript</title>
        <link src ="" style="stylesheet" />
        <link rel='stylesheet' href="css/foundation.css" type='text/css' media='all' />
        <link rel='stylesheet' href="css/font-awesome.min.css" type='text/css' media='all' />
        <link rel='stylesheet' href="css/style.css" type='text/css' media='all' />
        <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    </head>
    <body> 
<section class="row dashboard">
    <section class="container form-container">
        <h1>Converting <span class="highlight">XOF</span> to 
            <span class="highlight">$USD</span>
        </h1>
        <form id="calculatorForm">
            <div class="input-group">
              <input class="input-group-field" type="number">
              <span class="input-group-label currency">$</span>
            </div>
        </form>
        <script type ="text/javascript" src="js/calc.js"></script>
    </section>
</section>
<section class="row text-center">         
    <div>This tool was built by Samuel Guebo. Its source code is avaialble 
        <a href="https://github.com/samuelguebo/#">on Github</a>. 
    </div>

    <br/>
</section>
</body>
</html>